# Object files
*.o

# Libraries
*.lib
*.a
*.hex

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf

# CodeBlocks for Arduino
*.cbp
*.depend
*.layout
*.cbTemp

# Miscelaneous
*.bak